<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/poke.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <div id="app" class="container" v-cloak>
        <nav class="nav">
            <h1 class="logo"><img class="first-logo" src="img/th-removebg-preview.png" alt=""></h1>
            <div class="main-logo"><img class="pokemonlogo" src="/img/pokemon-logo-png-pokemon-logo-png-2000-removebg-preview.png" alt=""></div>
            <div class="search-box">
                <input type="text" v-model="pokemonName" class="pokemon-id"/> 
                <button type="button" class="btn fa fa-search" @click="pokeInfo"></button>  
            </div>
        </nav>
        <main class="main-view">
            <div class="search-con">
                <img v-if="searchpoke" :src="searchpoke.sprites.front_default" class="pokeImg">
                <p class="name" v-if="searchpoke">Name: {{ searchpoke.name }}</p>
                <p class="type" v-if="searchpoke">Type: {{ searchpoke.types[0].type.name }} </p>
            </div>
            <div class="pokemon-box">
                <div style="cursor: pointer;" @click="showPokemonAttributes(pokemon)" class="pokemon-pcs" v-for="pokemon in pokemons" :key="pokemon.name">
                    <img :src="pokemon.img" :alt="pokemon.name">
                    <p>{{ pokemon.name }}</p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog" ref="modal">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ selectedPokemon?.name }}</h4>
                        </div>
                        <div class="modal-body">
                            
                            <p v-if="selectedPokemon">Type: {{ selectedPokemon.name }}</p>
                            <img v-if="selectedPokemon" :src="selectedPokemon.img" class="pokeImg">
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/poke.js"></script>
    
</body>
</html>